* {
  margin: 0;
  padding: 0;
}

.grid {
  height: 565px;
  width: 400px;
  background-color: black;
  position: relative;
  margin: auto;
}

.doodler {
  height: 85px;
  width: 60px;
  position: absolute;
  background-color: #D2CE3D;
  border-radius: 50% 50% 0 0;
}

.platform {
  height: 15px;
  width: 85px;
  position: absolute;
  background-color: #6ABA1B;
  border-radius: 30% ;
}

.score {
  position: absolute;
  top: 0;
  left: 0;
}
